@model FutureValueModel
@{
    ViewData["Title"] = "Future Value Calculator";
    Layout = "_Layout";
}
        <h1>Future Value Calculator</h1>
        <form asp-action="Index" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="MonthlyInvestment">Monthly Investment</label>
                <br/>
                <input asp-for="MonthlyInvestment" />
                <br/><br/> 
            </div>
            <div>
                <label asp-for="YearlyInterestRate">Yearly Investment Rate</label>
                <br/>
                <input asp-for="YearlyInterestRate" />
                <br/><br/>
            </div>
            <div>
                <label asp-for="Years">Years</label>
                <br />
                <input asp-for="Years" />
                <br /><br />
            </div>
            <div>
                <label>Future Value:</label>
                <br/>
                <input value="@ViewBag.FV.ToString("C2")" readonly />
                <br/><br/>
            </div>
            <button type="submit">Calculate</button>
            <a asp-action="Index">Clear</a>
            <br/><br/>
        </form>
